use flake
watch_file ./kargo.nix
export KUBECONFIG=$(pwd)/secrets/kubeconfig
export VAULT_ADDR=https://vault.mareo.fr
export GITLAB_TOKEN=$(cat $(pwd)/secrets/gitlab_token)
export GITLAB_URI=https://gitlab.mareo.fr
